@import url("../fonts/Montserrat/font.css");
@import url("../fonts/Netron/font.css");
@import url("../fonts/Lato/font.css");

.body {
  position: relative;
}

/* Header */

.header {
  background-color: #3d315b;
  padding: 0 16px 0 20px;
}

.header__top {
  margin: 0 auto 0;
  max-width: 1290px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-navigation {
  display: flex;
  align-items: center;
}

.header__city {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
}

.header__city::before {
  content: "";
  background: url("../img/location.svg") no-repeat;
  width: 18px;
  height: 18px;
  transition: text-shadow 0.2s ease-in-out;
}

.header__city:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.header__tel {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 0 0 1.8vw;
  transition: text-shadow 0.2s ease-in-out;
}

.header__tel:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.header__tel-icon {
  display: none;
  margin: 0 0 0 6.1vw;
}

.header__tel-icon:hover {
  -webkit-filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.5));
}

.header__top-menu {
  list-style: none;
  margin: 0 0 0 5.1vw;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header__top-menu-item {
  white-space: nowrap;
  transition: text-shadow 0.2s ease-in-out;
}

.header__top-menu-item:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.header__top-menu-item > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
}

.header__sign {
  display: inline-block;
}

.header__sign,
.header__sign > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #fefefe;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}

.header__sign > a:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

/* Header 1024px */

@media (max-width: 1024px) {
  .header__city {
    font-size: 12px;
    line-height: 15px;
  }

  .header__tel {
    display: none;
  }

  .header__tel-icon {
    display: block;
  }

  .header__top-menu-item > a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .header__sign,
  .header__sign > a {
    font-weight: 500;
  }
}

@media (max-width: 790px) {
  .header__top {
    display: none;
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 1290px;
  margin: 0 auto 0;
  padding: 50px 20px 0;
}

.header__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom-column {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__bottom-column:nth-child(2n) {
  gap: 44px;
}

.header__logo {
  font-family: "Netron", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fe4a49;
  text-decoration: none;
}

.header__catalog {
  border: 0;
  width: 172px;
  height: 50px;
  background-color: #fe4a49;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fefefe;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header__catalog:hover {
  background-color: #5b4989;
}

.header__catalog-img {
  width: 16px;
  height: 30px;
  background: url("../img/catalog.svg") no-repeat center;
}

.header__search {
  max-width: 470px;
  width: 24.47vw;
  position: relative;
}

.header__search::after {
  position: absolute;
  top: 11px;
  right: 10px;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/search.svg") no-repeat center;
}

.header__search-input {
  width: 100%;
  outline: none;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #adadad;
  border: 1px solid #e6e6e8;
  border-radius: 5px;
  padding: 13px 45px 13px 30px;
}

.header__search-input::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #adadad;
}

.header__search-input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #adadad;
}

.header__search-input:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #adadad;
}

.header__search-input::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #adadad;
}

.header__search-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #adadad;
}

.header__search-img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url("../img/search2.svg") no-repeat center;
  background-size: contain;
  display: none;
}

.header__search-img:hover {
  background: url("../img/search2-red.svg") no-repeat center;
}

.header__favorites {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.header__favorites-img {
  width: 27px;
  height: 25px;
  background: url("../img/heart.svg") no-repeat center;
}

.header__favorites-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #151528;
}

.header__favorites:hover > .header__favorites-img,
.header__favorites:focus > .header__favorites-img {
  background: url("../img/heart-red.svg") no-repeat center;
}

.header__favorites:hover > .header__favorites-text,
.header__favorites:focus > .header__favorites-text {
  color: #fe4a49;
}

.header__cart {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.header__cart-img {
  width: 27px;
  height: 25px;
  background: url("../img/cart.svg") no-repeat center;
}

.header__cart-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #151528;
}

.header__cart:hover > .header__cart-img,
.header__cart:focus > .header__cart-img {
  background: url("../img/cart-red.svg") no-repeat center;
}

.header__cart:hover > .header__cart-text,
.header__cart:focus > .header__cart-text {
  color: #fe4a49;
}

.header__bottom-menu {
  margin: 50px 0 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 86px;
  column-gap: 86px;
}

.header__bottom-menu-item {
  white-space: nowrap;
  margin: 0 0 14px;
}

.header__bottom-menu-item,
.header__bottom-menu-item > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #151528;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.header__bottom-menu-item > a:hover {
  /* border-bottom: 2px solid #151528; UNDERLINE */
  color: #fe4a49;
}

.header__bottom-menu-item_highlight > a:hover {
  border-bottom: 2px solid #fe4a49;
}

.header__bottom-menu-item_highlight > a {
  color: #fe4a49;
}

.header__divider {
  margin: 0 0 50px;
  border: 1px solid #e6e6e8;
}

/* Footer */

.footer {
  padding: 60px 0 0;
  background-color: #3d315b;
}

.footer__main-wrapper {
  margin: 0 auto 0;
  padding: 0 20px 0;
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
}

.footer__container {
  display: flex;
}

.footer__menu-wrapper {
  width: 15.625vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__menu-contacts {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #fefefe;
  white-space: nowrap;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__list-item,
.footer__list-item > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
  white-space: nowrap;
}

.footer__list-item > a:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.footer__tel {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  transition: text-shadow 0.2s ease-in-out;
}

.footer__tel:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.footer__hours {
  margin: -2px 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__hours-item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  white-space: nowrap;
}

.footer__mail {
  margin: -2px 0 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  transition: text-shadow 0.2s ease-in-out;
}

.footer__mail:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.footer__connect {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer__call {
  border: 0;
  width: 261px;
  height: 50px;
  background-color: #fe4a49;
  mix-blend-mode: normal;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fefefe;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.footer__call:hover {
  background-color: #5b4989;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}

.footer__socials-icon {
  width: 34px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}

.footer__socials-icon:hover {
  -webkit-filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.5));
}

.footer__socials-icon_vk {
  background-image: url("../img/vk.svg");
}

.footer__socials-icon_yt {
  background-image: url("../img/yt.svg");
}

.footer__socials-icon_fb {
  background-image: url("../img/fb.svg");
}

.footer__socials-icon_tw {
  background-image: url("../img/tw.svg");
}

.footer__divider {
  margin: 52px auto 0;
  max-width: 1290px;
  border-bottom: 1px solid #fefefe;
}

.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: 0 auto 0;
  padding: 34px 20px 30px;
}

.footer__bottom-menu {
  width: 96%;
  position: fixed;
  left: 0;
  bottom: 0;
}

@media (max-width: 1330px) {
  .header__catalog {
    width: 50px;
  }

  .header__catalog-text {
    display: none;
  }

  .header__favorites-text {
    display: none;
  }

  .header__cart-text {
    display: none;
  }

  .header__cart-img {
    margin-right: 15px;
  }

  .header__bottom-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
  }

  .footer__main-wrapper {
    flex-direction: column;
  }

  .footer__connect {
    margin: 30px 0 0;
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
  }

  .footer__call {
    order: 1;
  }

  .footer__container {
    justify-content: space-between;
  }

  .footer__menu-wrapper {
    width: unset;
  }

  .footer__menu-contacts {
    padding: 0 50px 0px 0px;
  }

  .footer__socials {
    margin: 10px 0 0;
  }

  .footer__divider {
    margin: 46px 20px 0;
  }

  .footer__bottom-wrapper {
    padding: 24px 20px 30px;
  }
}

@media (max-width: 815px) {
  .header__bottom {
    padding: 15px 15px 30px;
  }

  .header__search-img {
    display: block;
  }

  .header__search {
    display: none;
  }

  .header__logo {
    font-size: 28px;
    line-height: 28px;
  }
}

@media (max-width: 634px) {
  .header__cart {
    display: none;
  }

  .header__favorites {
    display: none;
  }

  .header__logo {
    order: 1;
    font-size: 21px;
    line-height: 21px;
  }

  .header__catalog {
    width: 32px;
    height: 32px;
  }

  .header__search-img {
    width: 17px;
    height: 17px;
  }
}

.footer__bottom {
  display: flex;
  gap: 99px;
}

.footer__bottom-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  transition: text-shadow 0.2s ease-in-out;
}

.footer__bottom-link:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.footer__copyright {
  margin-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
}

.footer__copyright > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}

.footer__copyright > a:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
  .footer__bottom-link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright > a {
    font-size: 12px;
    line-height: 20px;
  }

  .footer__copyright {
    margin-right: 0;
  }
}

.footer__bottom-menu {
  list-style: none;
  margin: 0;
  padding: 10px;
  justify-content: space-around;
  background-color: #fff;
  display: none;
}

@media (max-width: 715px) {
  .header__bottom-menu {
    -moz-column-gap: 76px;
    column-gap: 76px;
  }

  .header__bottom-menu-item,
  .header__bottom-menu-item > a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    justify-content: center;
  }

  .footer__menu-wrapper {
    display: none;
  }

  .footer__menu-contacts {
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 8px;
  }

  .footer__menu-contacts > .footer__title {
    margin: 0 0 8px;
  }

  .footer__hours {
    margin: 0;
    order: 3;
  }

  .footer__mail {
    margin: 0;
    order: 2;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__tel {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__hours-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__connect {
    margin: 15px 0 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__call {
    width: 242px;
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__socials-icon {
    width: 28px;
    height: 18px;
  }

  .footer__bottom-wrapper {
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }

  .footer__bottom {
    gap: 23px;
  }

  .footer__divider {
    margin: 46px 0 0;
  }

  .footer__bottom-link {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__copyright {
    font-size: 10px;
    line-height: 12px;
  }

  .footer__copyright-link {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__bottom-menu {
    display: flex;
  }
}

@media (max-width: 504px) {
  .header__bottom-menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -moz-column-gap: 46px;
    column-gap: 46px;
  }
}

.footer__bottom-item {
  color: #151528;
}

.footer__bottom-item:hover {
  color: #fe4a49;
}

.footer__bottom-menu-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer__bottom-menu-link::before {
  content: "";
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__bottom-menu-link_house::before {
  background-image: url("../img/house.svg");
}

.footer__bottom-menu-link_house:hover::before {
  background-image: url("../img/house-red.svg");
}

.footer__bottom-menu-link_heart::before {
  background-image: url("../img/heart.svg");
}

.footer__bottom-menu-link_heart:hover::before {
  background-image: url("../img/heart-red.svg");
}

.footer__bottom-menu-link_zoom::before {
  background-image: url("../img/zoom.svg");
}

.footer__bottom-menu-link_zoom:hover::before {
  background-image: url("../img/zoom-red.svg");
}

.footer__bottom-menu-link_cart::before {
  background-image: url("../img/cart.svg");
}

.footer__bottom-menu-link_cart:hover::before {
  background-image: url("../img/cart-red.svg");
}

.footer__bottom-menu-link_smile::before {
  background-image: url("../img/smile.svg");
}

.footer__bottom-menu-link_smile:hover::before {
  background-image: url("../img/smile-red.svg");
}

.catalog {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  gap: 83px;
  background-color: #fefefe;
  padding: 50px 4.2vw;
  z-index: 1;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.catalog__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  background: url("../img/cross.svg") no-repeat center;
  width: 30px;
  height: 30px;
}

.catalog__close:hover,
.catalog__close:focus {
  transform: rotate(45deg);
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog__list-items-column {
  width: 210px;
}

.catalog__list-item {
  padding: 13px 45px 13px 55px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  transition: background-color 0.1s ease-in-out;
}

.catalog__list-item_active {
  background-color: #f0f2f8;
}

.catalog__list-item:hover,
.catalog__list-item:focus {
  background-color: #f0f2f8;
}

.catalog__list-item::before {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #c4c4c4;
  position: absolute;
  left: 21px;
  top: 20%;
}

.catalog__list-item::after {
  content: "";
  width: 16px;
  height: 10px;
  background: url("../img/arrow.svg") no-repeat center;
  position: absolute;
  right: 15px;
  top: 40%;
}

.catalog__list-items-block {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.catalog__title {
  margin: 12px 0 12px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #333333;
}

.catalog__title:not(:first-child) {
  margin: 22px 0 12px;
}

.catalog__items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog__items-list-item,
.catalog__items-list-item > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #b2b1b5;
  text-decoration: none;
  white-space: nowrap;
}

.catalog__items-list-item > a:hover,
.catalog__items-list-item > a:focus {
  color: #fe4a49;
}

.catalog__list-items-block {
  display: none;
}

@media (max-width: 1320px) {
  .catalog {
    gap: 40px;
    padding: 50px 40px 50px 20px;
  }
  .catalog__list-items-block {
    gap: 26px;
  }
}

@media (max-width: 1120px) {
  .catalog {
    gap: 30px;
  }
  .catalog__list-items {
    width: 460px;
  }
  .catalog__list-items-block {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 940px) {
  .catalog {
    flex-direction: column;
    padding: 50px 20px 40px 25px;
  }
  .catalog__list-item::before {
    left: 10px;
  }
  .catalog__list-item::after {
    right: 15px;
    transform: rotate(90deg);
  }
}

@media (max-width: 715px) {
  .catalog__list-item {
    font-size: 12px;
    line-height: 15px;
    padding: 13px 40px 13px 30px;
  }
  .catalog__list-item::before {
    left: 0;
    width: 15px;
    height: 15px;
    top: 32%;
  }
  .catalog__title {
    font-size: 12px;
    line-height: 15px;
  }
  .catalog__items-list-item,
  .catalog__items-list-item > a {
    font-size: 12px;
    line-height: 15px;
  }
  .catalog {
    width: 88%;
  }
  .catalog__list-items-column {
    width: calc(90% / 3);
  }
  .catalog__list-items {
    width: 99%;
  }
}

@media (max-width: 590px) {
  .catalog {
    width: 80%;
  }
  .catalog__list-items-column {
    width: calc(90% / 1);
  }
  .header__bottom-menu {
    -moz-column-gap: 53px;
    column-gap: 53px;
  }
}

.slider {
  max-width: 1290px;
  display: flex;
  margin: 0 auto 0;
  max-height: 420px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slider__prev {
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 20px rgba(61, 49, 91, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  left: 50px;
  background: url("../img/arrow-slide.svg") no-repeat 46% #fefefe;
  cursor: pointer;
}

.slider__prev:hover {
  background: url("../img/arrow-slide-active.svg") no-repeat 56% #fefefe;
  transform: rotate(180deg);
}

.slider__next {
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  box-shadow: 0px 0px 20px rgba(61, 49, 91, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 46%;
  right: 50px;
  background: url("../img/arrow-slide.svg") no-repeat 46% #fefefe;
  transform: rotate(180deg);
  cursor: pointer;
}

.slider__next:hover {
  background: url("../img/arrow-slide-active.svg") no-repeat 54% #fefefe;
  transform: rotate(0deg); /* hack */
}

.slider__item-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.slider__item {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  position: relative;
}

.slider__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 62px 0 0 190px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  max-width: 333px;
}

.slider__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.005em;
  margin: 0;
  max-width: 375px;
}

@media (max-width: 1140px) {
  .slider__text-wrapper {
    margin: 44px 0 0 16.7vw;
  }
  .slider__title {
    font-size: 26px;
    line-height: 32px;
  }
  .slider__description {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 940px) {
  .slider__text-wrapper {
    margin: 44px 0 0 11.7vw;
    height: 287px;
  }
  .slider__title {
    font-size: 26px;
    line-height: 32px;
  }
  .slider__description {
    font-size: 18px;
    line-height: 28px;
  }
  .slider__item {
    height: 287px;
  }
}

@media (max-width: 715px) {
  .slider__text-wrapper {
    margin: 26px 15px 0 15px;
  }
  .slider__title {
    font-size: 16px;
    line-height: 20px;
  }
  .slider__description {
    font-size: 10px;
    line-height: 12px;
  }
  .slider__item {
    height: 180px;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slider__dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: flex;
  gap: 15px;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.slider__dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fe4a49;
}

.slider__dot:hover {
  background-color: #fe4a49;
}

.slider__dot_active {
  background-color: #fe4a49;
}

.slider-wrapper {
  margin: 0 20px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 800px) {
  .slider__prev {
    display: none;
  }
  .slider__next {
    display: none;
  }
  .slider__dots {
    gap: 14px;
  }
  .slider__dot {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 540px) {
  .slider__dots {
    gap: 8px;
  }
  .slider__dot {
    width: 6px;
    height: 6px;
  }
}

.products {
  margin: 0 auto 0;
  max-width: 1290px;
  padding: 0 20px 0;
  overflow-x: hidden;
}

.products__title {
  margin: 0 auto 50px 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #151528;
}

.products__list {
  list-style: none;
  margin: 0 auto 50px;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.products__list-item {
  box-shadow: 0px 12px 40px rgba(77 84 96 / 0.08);
  min-width: 300px;
  border-radius: 20px;
  position: relative;
  transition: transform 0.1s ease-in-out;
}

.products__list-item > a {
  text-decoration: none;
}

.products__list-item:hover {
  box-shadow: 0px 12px 40px rgb(77 84 96 / 20%);
}

.products__list-heart {
  width: 23px;
  height: 23px;
  background: url("../img/heart-grey.svg") no-repeat center;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-size: contain;
}

.products__list-heart:hover {
  background: url("../img/heart-grey-to-red.svg") no-repeat center;
  background-size: contain;
}

.products__list-cart {
  width: 50px;
  height: 50px;
  background: url("../img/shop-cart-button.svg") no-repeat center #fe4a49;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.products__list-cart:hover {
  background: url("../img/shop-cart-button.svg") no-repeat center #5b4989;
}

.products__list-img {
  display: block;
  margin: 28px auto 37px;
  max-width: 240px;
  width: 100%;
}

.products__list-title {
  margin: 0 20px 70px;
  max-width: 260px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #151528;
}

.products__list-title_uppercase {
  text-transform: uppercase;
}

.products__list-old-price {
  margin: 0 20px 7px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #adadad;
}

.products__list-price {
  margin: 0 20px 36px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #151528;
}

@media (max-width: 1330px) {
  .products__list-item {
    min-width: 223px;
  }
  .products__list-title {
    margin: 0 20px 28px;
  }
  .products__list-price {
    margin: 0 20px 10px;
  }
  .products__list-img {
    margin: 20px auto 17px;
  }
  .products__list {
    gap: 20px;
  }
}

.products__arrows {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding: 0 0 120px;
}

.products__list-prev {
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 20px rgba(61, 49, 91, 0.1);
  border-radius: 50%;
  background: url("../img/arrow-slide-active.svg") no-repeat 56% #fefefe;
  transform: rotate(180deg);
  cursor: pointer;
}

.products__list-prev:hover {
  box-shadow: inset 0px 0px 20px rgba(61, 49, 91, 0.1);
}

.products__list-next {
  display: block;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 20px rgba(61, 49, 91, 0.1);
  border-radius: 50%;
  background: url("../img/arrow-slide-active.svg") no-repeat 56% #fefefe;
  cursor: pointer;
}

.products__list-next:hover {
  box-shadow: inset 0px 0px 20px rgba(61, 49, 91, 0.1);
}

@media (max-width: 740px) {
  .products__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .products__list-item {
    min-width: 135px;
  }
  .products__list-title {
    font-size: 12px;
    line-height: 15px;
  }
  .products__list-price {
    margin: 0 20px 10px;
  }
  .products__list-img {
    margin: 15px auto 10px;
  }
  .products__list-heart {
    top: 13px;
    right: 12px;
    width: 16px;
  }
  .products__list-old-price {
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
  }
  .products__list-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  .products__list-cart {
    width: 32px;
    height: 32px;
    background-size: 80%;
  }
  .products__arrows {
    display: none;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #3d315b;
  border-radius: 20px;
  padding: 48px 0;
  max-width: 1290px;
  margin: 0 auto 0;
}

.subscribe__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #fefefe;
}

.subscribe__form {
  margin: 0;
  display: flex;
  gap: 20px;
}

.subscribe__input {
  padding: 16px 27px;
  border: 0;
  outline: none;
  background: #fefefe;
  border-radius: 5px;
}

.subscribe__input {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #888789;
}

.subscribe__input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #888789;
}

.subscribe__submit {
  padding: 15px 44px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  background: #fe4a49;
  border-radius: 5px;
  border: 0;
  outline: 0;
  color: #fefefe;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.subscribe__submit:hover {
  background-color: #5b4989;
}

@media (max-width: 1300px) {
  .subscribe {
    margin: 0 20px 0;
  }
}

@media (max-width: 580px) {
  .subscribe {
    margin: 0 15px 0;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__title {
    margin: 0 15px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .subscribe__input {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .subscribe__input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .subscribe__submit {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

.news {
  max-width: 1290px;
  margin: 120px auto 0;
  overflow-x: hidden;
  padding: 0 20px 0;
}

.news__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px;
}

.news__title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #151528;
}

.news__blog {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-decoration-line: underline;
  color: #fe4a49;
}

.news__blog:hover {
  color: #5b4989;
}

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.news__list-item {
  transition: transform 0.1s ease-in-out;
}

.news__list-item-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.news__list-item-link:hover {
  text-decoration: underline;
}

.news__list-title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 1300px) {
  .news__list {
    gap: 20px;
  }
  .news__title-wrapper {
    margin: 0 0 30px;
  }
  .news__list-img {
    width: 355px;
    height: 215px;
  }
  .news__blog {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 740px) {
  .news {
    padding: 0 20px 120px;
  }
  .news__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .news__blog {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
  .news__list-img {
    width: 233px;
    height: 140px;
  }
  .news__list-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}

.breadcrumbs {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto 0;
  display: flex;
  padding: 50px 32px;
  gap: 5px;
}

.breadcrumbs__link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #adadad;
}

.breadcrumbs__link-text_highlight {
  color: #151528;
}

@media (max-width: 580px) {
  .breadcrumbs__link {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
  }
}

.catalog-sec {
  display: flex;
  max-width: 1290px;
  margin: 0 auto 0;
}

.catalog-sec__column:first-child {
  max-width: 275px;
}

.catalog-sec__title {
  margin: 0 0 15px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151528;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.catalog-sec__title::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/filter-arrow.svg") no-repeat center;
}

.catalog-sec__checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.catalog-sec__checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.catalog-sec__checkbox-label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #151528;
}

.catalog-sec__checkbox-label::before {
  content: "";
  height: 18px;
  width: 18px;
  border: 2px solid #e6e6e8;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-sec__checkbox-label::after {
  height: 21px;
  width: 21px;
  background: url("../img/checkbox.svg") no-repeat center #3d315b;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-sec__checkbox-input {
  height: 21px;
  width: 21px;
  opacity: 0;
}

.catalog-sec__checkbox-input + .catalog-sec__checkbox-label::after {
  content: none;
}

.catalog-sec__checkbox-input:checked + .catalog-sec__checkbox-label::after {
  content: "";
}

.catalog-sec__checkbox-input:checked + .catalog-sec__checkbox-label {
  font-weight: 600;
  line-height: 22px;
}

.catalog-sec__filter {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.catalog-sec__checkbox-list-show {
  margin: 10px 0 0;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #fe4a49;
  cursor: pointer;
}

.catalog-sec__checkbox-list-show:hover {
  color: #3d315b;
}
