@import url("../fonts/Montserrat/font.css");

/* Header */

.header {
  background-color: #3d315b;
  padding: 0 16px 0 20px;
}

.header__top {
  margin: 0 auto 0;
  max-width: 1290px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-navigation {
  display: flex;
  align-items: center;
}

.header__city {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 3px;
}

.header__city::before {
  content: "";
  background: url("../img/location.svg") no-repeat;
  width: 18px;
  height: 18px;
}

.header__city:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.header__tel {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 0 0 1.8vw;
}

.header__tel:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.header__tel-icon {
  display: none;
  margin: 0 0 0 6.1vw;
}

.header__tel-icon:hover {
  -webkit-filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(2px 2px rgba(255, 255, 255, 0.5));
}

.header__top-menu {
  list-style: none;
  margin: 0 0 0 5.1vw;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header__top-menu-item {
  white-space: nowrap;
}

.header__top-menu-item:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

.header__top-menu-item > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
  text-decoration: none;
}

.header__sign {
  display: inline-block;
}

.header__sign,
.header__sign > a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #fefefe;
  text-decoration: none;
}

.header__sign > a:hover {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

/* Header 1024px */

@media (max-width: 1024px) {
  .header__city {
    font-size: 12px;
    line-height: 15px;
  }

  .header__tel {
    display: none;
  }

  .header__tel-icon {
    display: block;
  }

  .header__top-menu-item > a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }

  .header__sign,
  .header__sign > a {
    font-weight: 500;
  }
}

@media (max-width: 790px) {
  .header__top {
    display: none;
  }
}
