@font-face {
  font-family: "Lato";
  src: url("./Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("./Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("./Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
